* {
    margin: 0%;
}

body {
    color:black;
    font-family: "Trebuchet MS";
    background-color:#b8c9f7;
}

header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background: #718fda;
    top: 0;
    padding: 20px;
    z-index: 1000;
}

div {
    text-align: center;
    margin: 100px;
}

.bouton-co,
.bouton-in {
    width: 150px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 2px solid #718fda;
    border-radius: 7%;
}

.bouton-co:hover,
.bouton-in:hover {
    background-color: #718fda;
    color: white;
}