* {
    margin: 0%;
}

body {
    color:black;
    font-family: "Trebuchet MS";
    background-color:#b8c9f7;
}

header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background: #718fda;
    top: 0;
    padding: 20px;
    z-index: 1000;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul:last-child {
    text-align: right;
}

nav ul li a {
    position: relative;
    margin: 10;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    border-radius: 18px;
}

nav a::before,
nav a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
    position: absolute;
    bottom: 0;
}

nav a::before {
    left: 50%;
    transform: translateX(-50%);
}

nav a::after {
    right: 50%;
    transform: translateX(50%);
}

nav a:hover::before,
nav a:hover::after {
    width: 100%;
    transition-duration: .2s;
}