* {
    margin: 0%;
}

body {
    color:black;
    font-family: "Trebuchet MS";
    background-color:#b8c9f7;
}

header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background: #718fda;
    top: 0;
    padding: 20px;
    z-index: 1000;
}

.img-apercu-gauche {
    margin-right: 10px;
    width : auto;
    height: 350px;
    border-radius: 2% 2% 2% 2%;
}

.panier {
    display: inline-block;
    margin: 80px;
    padding: 8px;
    background-color: #dee9fc;
    border-radius: 2%;
    box-shadow: 5px 5px 10px black;
    -webkit-transform: scale(1.003);
    transform: scale(1.003);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

th {
    font-weight: bolder;
    font-size: medium;
}

td {
    text-align: center;
}

table tr:last-child {
    color:#dc0000;
}

.supprimerProduit {
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 2px solid #d74f4f;
    border-radius: 7%;
}

.supprimerProduit:hover {
    background-color: #d74f4f;
    color: white;
}
